{{tool-bar}}

<div class="construction">
  <h1>Welcome to my portfolio site!</h1>
  <br>
  <h2>It is currently</h2>
  <br>
  <img src="http://www.netanimations.net/fire-under-construction-animation.gif">
</div>

{{outlet}}
